# IDE and editor files
.idea/
.vscode/
*.iml

# Node.js dependencies
node_modules/

# Build outputs
dist/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Python virtual environment
env/
venv/

#音乐文件和封面图片
*.flac
*.mp3
*.jpg
*.png